# Dependencies
node_modules
.pnpm-store

# Build outputs
out
release
dist
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# IDE
.DS_Store
.idea/
.vscode/settings.json

# Misc
.deps-staging
workspace_demo

# Turbo
.turbo

# Testing
coverage

# Env files (secrets)
.env
.env.*
!.env.example


